body {
  background-color: #0b0b0b;
  color: #dddddd;
  font-family: "Yu Mincho", "Hiragino Mincho ProN", serif;
  max-width: 900px;
  margin: 0 auto;
  padding:60px;
  line-height: 1.8;
}

h1 {
  font-size: 3rem;
  font-waight: normal;
  margin-bottom: 0.5;
}
p {
  color: #aaaaaa;
}

img {
  display: block;
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 60px auto;
}
